@import "lib/bootstrap.less";
/*
@alpha: #00F;
@bravo:  #800080;
@charlie: #FF8000;
@delta: #FF0;
@echo: #F00;
@foxtrot: #0C9400;
*/
@alpha: @blue;
@bravo:  @purple;
@charlie: @orange;
@delta: #ff0;//@yellow;
@echo: @red;
@foxtrot: @green;

.hidden { display: none; }

html, body {
  background: #fff;
}
body {
  margin-top: 60px;
}
.page.container {
  background: #fff;
}

table.scroll {
  }
  tbody {
    overflow-y: auto;
    display: block;
  }
}

@import "maps.less";

.list {
  .group {
    cursor: pointer;
    border-left: 3px solid;
    padding: 2px 5px;
    margin-bottom: 2px;
    .name { font-size: 14px; font-weight: bold; margin-right: 5px; }
    .user { font-size: 10px; }
    .user.self { text-decoration: underline; }
    &.chosen { border-left-style: dotted; }
  }
  .alpha { border-color: @alpha; }
  .bravo { border-color: @bravo; }
  .charlie { border-color: @charlie; }
  .delta { border-color: @delta; }
  .echo { border-color: @echo; }
  .foxtrot { border-color: @foxtrot; }
}
