/* html { height: 100% }
body { height: 100%; margin: 0; padding: 0 } */
.container {
	margin-top: 20px;
}
.container .mapholder {
	border: 3px solid #d0d0d0;
    box-sizing: border-box;
}
.fullscreen .mapholder {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}
.fullscreen .mapholder #maps {
    width: 100% !important;
    height: 100% !important;
}
html, body.fullscreen {
    width: 100% !important;
    height: 100% !important;
}
#maps {
	width: 100%;
	height: 700px;
}
#maps img {
  max-width: none;
}
.hints th.alpha {
	color: #9d261d;
}
.hints th.bravo {
	color: #46a546;
}
.hints th.charlie {
	color: #0064cd;
}
.hints th.delta {
	color: #049cdb;
}
.hints th.echo {
	color: #9207b1;
}
.hints th.foxtrot {
	color: #f2e800;
}
table#hints {
    width: 670px;
}
#hints tbody {
    height: 669px;
    overflow: auto;
}
#hints thead > tr, tbody{
    display:block;
}
#hints td:not(:first-child), th:not(:first-child) {
    width: 79px;
}
#hints td:first-child, th:first-child {
    width: 60px;
}
.clickover, .clickover .inner {
    width: 300px !important;
}
.bootstrap-timepicker.dropdown-menu.open {
    z-index: 1100 !important;
}

/* @blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6; */