/* html { height: 100% }
body { height: 100%; margin: 0; padding: 0 } */
.container {
	margin-top: 20px;
}
.container .mapholder {
	border: 3px solid #d0d0d0;
    box-sizing: border-box;
}
.fullscreen .mapholder {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.fullscreen .mapholder #maps {
    width: 100% !important;
    height: 100% !important;
}
html, body.fullscreen {
    width: 100% !important;
    height: 100% !important;
}
#maps {
	width: 100%;
	height: 100%;
}
#maps img {
  max-width: none;
}
.hints th.alpha {
	color: #9d261d;
}
.hints th.bravo {
	color: #46a546;
}
.hints th.charlie {
	color: #0064cd;
}
.hints th.delta {
	color: #049cdb;
}
.hints th.echo {
	color: #ffc40d;
}
.hints th.foxtrot {
	color: #c3325f;
}
table {
    width: 800px;
}
tbody {
    height: 500px;
    overflow: auto;
}
thead > tr, tbody{
    display:block;
}
td:not(:first-child), th:not(:first-child) {
    width: 79px;
}
td:first-child, th:first-child {
    width: 60px;
}


/* @blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6; */