@(message: String)
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>geoco</title>

        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/timepicker.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrapx-clickover.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-timepicker.js")"></script>
        <script src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
        <script
            src="//maps.googleapis.com/maps/api/js?sensor=false&language=nl"></script>
        <script src="@routes.Assets.at("javascripts/models/hints.js")"></script>
        <script src="@routes.Assets.at("javascripts/views/dashboard.js")"></script>
        <script src="@routes.Assets.at("javascripts/views/maps.js")"></script>
        <script src="@routes.Assets.at("javascripts/views/hints.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
<body>
	<div class="container" id="app">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">geoco</a>
				<div class="navbar-form pull-left">
					<button type="submit" class="btn hunt-btn" data-toggle="modal" data-target="#huntForm">Hunt melden</button>
                    <!--<button type="submit" class="btn">Tegenhunt melden</button>-->
                    <input type="text" placeholder="Adres zoeken" name="search" id="Search">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span6 mapholder">
				<div id="maps"></div>
			</div>
			<div class="span7" id="hints">
				<table id="hints" class="hints table table-bordered">
                    <thead>
						<tr>
							<th>Tijd:</th>
							<th class="alpha">Alpha</th>
							<th class="bravo">Bravo</th>
							<th class="charlie">Charlie</th>
							<th class="delta">Delta</th>
							<th class="echo">Echo</th>
							<th class="foxtrot">Foxtrot</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    <div class="modal hide fade" id="huntForm">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Hunt inleveren</h3>
        </div>
        <div class="modal-body">
            <select class="fox-group-select input-small">
            </select>
            <input type="text" placeholder="Locatie" class="location-input" />
            <span class="input-append">
                <input type="time" class="input-small time-input" />
                <span class="add-on"><i class="icon-time"></i></span>
            </span>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger pull-left clear-btn">Reset</a>
            <a href="#" class="btn btn-primary create-btn">Aanmaken</a>
        </div>
    </div>
</body>
</html>