@(message: String)
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>geoco</title>

        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
        <script
            src="//maps.googleapis.com/maps/api/js?key=AIzaSyCX7j8_4dYVHYZ5w4VBYaC7zc8WTKwKmm0&sensor=false"></script>
        <script src="@routes.Assets.at("javascripts/models/hints.js")"></script>
        <script src="@routes.Assets.at("javascripts/views/dashboard.js")"></script>
        <script src="@routes.Assets.at("javascripts/views/maps.js")"></script>
        <script src="@routes.Assets.at("javascripts/views/hints.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
<body>
	<div class="container" id="app">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">geoco</a>
				<div class="navbar-form pull-left">
					<button type="submit" class="btn">Hunt melden</button>
                    <button type="submit" class="btn">Tegenhunt melden</button>
                    <input type="text" placeholder="Adres zoeken">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span6 mapholder">
				<div id="maps" style="width: 100%; height: 700px;"></div>
			</div>
			<div class="span6" id="hints">
				<table class="hints table table-bordered">
                    <thead>
						<tr>
							<th>Tijd:</th>
							<th class="alpha">Alpha</th>
							<th class="bravo">Bravo</th>
							<th class="charlie">Charlie</th>
							<th class="delta">Delta</th>
							<th class="echo">Echo</th>
							<th class="foxtrot">Foxtrot</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>